In [136]:
import pickle
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
import pandas as pd

In [137]:
df = pd.read_csv('preprocessing.csv')
events = df.iloc[:,3:]
print(events.head())

   Event1  Event2
0       7       5
1       0      11
2       6       4
3       1      11
4       3       0

In [138]:
eve = pickle.load(open('eve.pickle','rb'))
dom = pickle.load(open('dom.pickle','rb'))

ev = []
d = []
s = input('Enter the sentence: ')

for i in eve:
	if i in s:
		ev.append(i)

for j in dom:
    if j in s:
        d.append(j)

print(dom)

Enter the sentence: CodeBoost codeathon is live now!
{'artificial intelligence': 0, 'blockchain': 1, 'c': 2, 'c++': 3, 'cloud computing': 4, 'coding': 5, 'data science': 6, 'development processes': 7, 'finance': 8, 'hardware': 9, 'higher education': 10, 'iot': 11, 'java': 12, 'javascript': 13, 'machine learning': 14, 'management': 15, 'mobile applications': 16, 'networking': 17, 'other': 18, 'python': 19, 'security': 20, 'software architecture': 21, 'web development': 22}

In [139]:
#dom = input("enter the domain: ")
event1 = input("Enter Event 1: ")
event2 = input("Enter Event 2: ")

#dom = domains[dom.lower()]

event1 = eve[event1.lower()]
event2 = eve[event2.lower()]

Enter Event 1: jobs
Enter Event 2: hackathons

In [140]:
similar_metrics = cosine_similarity(events)

result = np.where(events == [event1,event2])[0][0]

result = list(enumerate(similar_metrics[result]))
result = sorted(result,key= lambda x: x[1],reverse=True)
top = result[:5]

lst = []

for i in top:
  a = (df['Name'].iloc[i[0]])
  lst.append(a)

print(s, '|', lst[0], ',' ,lst[1], ',' ,lst[2], ',', lst[3], ',', lst[4])

CodeBoost codeathon is live now! | Bryan Brock , Laura Hurst , Derek Schmidt , Andrea Thompson , Tracy Wilson

In [141]:
df1 = pd.DataFrame([s], columns=['Event Name'])
df1

                         Event Name
0  CodeBoost codeathon is live now!

In [142]:
df1['Employee Name'] = [lst]
df1

                         Event Name                                      Employee Name
0  CodeBoost codeathon is live now!  [Bryan Brock, Laura Hurst, Derek Schmidt, Andr...

In [143]:
def converttostr(input_seq, seperator):
   final_str = seperator.join(input_seq)
   return final_str

seperator = ', '
print("Recommended Employees: ", converttostr(lst, seperator))

Recommended Employees:  Bryan Brock, Laura Hurst, Derek Schmidt, Andrea Thompson, Tracy Wilson

In [144]:
import xlwt 
from xlwt import Workbook 
  
wb = Workbook() 
  
sheet1 = wb.add_sheet('Sheet 1')

In [145]:
sheet1.write(0, 0, 'Event Name') 
sheet1.write(0, 1, 'Employee Name') 
sheet1.write(1, 0, s)
sheet1.write(1, 1, converttostr(lst, seperator))

In [146]:
wb.save('Result.xls')